## CRIANDO MINHA PRIMEIRA SESSÃO SPARK!!!!!!

1. Criar o arquivo do notebook com o nome teste_spark.ipynb
2. Obter as informações da sessão de spark (spark)
3. Obter as informações do contexto do spark (sc)
4. Setar o log como INFO.
5. Visualizar todos os banco de dados com o catalog
6. Ler os dados "hdfs://namenode:8020/user/rodrigo/data/juros_selic/juros_selic.json“ com uso de Dataframe
7. Salvar o Dataframe como juros no formato de tabela Hive
8. Visualizar todas as tabelas com o catalog
9. Visualizar no hdfs o formato e compressão que está a tabela juros do Hive
10. Ler e visualizar os dados da tabela juros, com uso de Dataframe no formato de Tabela Hive
11. Ler e visualizar os dados da tabela juros , com uso de Dataframe no formato Parquet

In [1]:
spark

In [2]:
sc

In [3]:
#Q4
spark.sparkContext.setLogLevel("INFO")

In [4]:
#Q5
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse'),
 Database(name='ronnan', description='', locationUri='hdfs://namenode:8020/user/hive/warehouse/ronnan.db')]

In [5]:
#exemplo 1 usando /namenode:8020
#Q6
#leitura_juros = spark.read.json("hdfs://namenode:8020/user/ronnan/data/juros_selic/juros_selic.json") ##após user trocar nome
#leitura_juros.show(5)

In [6]:
#exemplo 2 usando hdfs
#Q6
#leitura_juros = spark.read.json("hdfs:///user/ronnan/data/juros_selic/juros_selic.json") ##após user trocar nome
#leitura_juros.show(5)

In [7]:
#exemplo 3 apenas com o caminho
#Q6
leitura_juros = spark.read.json("/user/ronnan/data/juros_selic/juros_selic.json")
leitura_juros.show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

In [8]:
leitura_juros.printSchema()

root
 |-- data: string (nullable = true)
 |-- valor: string (nullable = true)

In [22]:
#Q7
leitura_juros.write.saveAsTable("juros")

In [2]:
#Q8
spark.catalog.listTables()

[Table(name='juros', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='juros_novo', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [24]:
!hdfs dfs -ls /user/hive/warehouse

Found 1 items
drwxr-xr-x   - root supergroup          0 2022-04-08 00:39 /user/hive/warehouse/juros

In [25]:
#Q9
!hdfs dfs -ls /user/hive/warehouse/juros

Found 2 items
-rw-r--r--   2 root supergroup          0 2022-04-08 00:39 /user/hive/warehouse/juros/_SUCCESS
-rw-r--r--   2 root supergroup       3883 2022-04-08 00:39 /user/hive/warehouse/juros/part-00000-4d4b3c6a-deb0-4de9-996d-cce704fa373c-c000.snappy.parquet

In [26]:
#Q10
spark.read.table("juros").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

In [1]:
#Q11
spark.read.parquet("/user/hive/warehouse/juros/").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows